h1 {
    color: darkslategray;
    background-color: yellow;
    margin-bottom: 30px;
}

p {
    color: darkslategray;
    max-width: 500px;
    margin: 30px;
    margin-left: 0px;
    padding-top: 10px;
    padding-bottom: 50px;
    border-bottom: 1px dashed orangered;
}

a:link {
    text-decoration: none;
    color: darkslateblue;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    background-color: yellow;
}

a:active {
    text-decoration: underline;
}